<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>File Upload Example</title>
<link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"	rel="stylesheet" />
<!-- media="all !!! -->
<link rel="stylesheet" type="text/css" media="all" href="/css/my.css" th:href="@{/css/my.css}" />

<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<script th:inline="javascript">
	/*<![CDATA[*/
	var _validFileExtensions = [ ".csv", ".zip" ];
	function Validate(oForm) {
		console.log('Validate');
		var arrInputs = oForm.getElementsByTagName("input");
		for (var i = 0; i < arrInputs.length; i++) {
			console.log(i);
			console.log(arrInputs[i]);
			var oInput = arrInputs[i];
			if (oInput.type == "file") {
				var sFileName = oInput.value;
				if (sFileName.length == 0) {

					alert("Please select a file to upload");
					return false;
				}
				if (sFileName.length > 0) {
					var blnValid = false;
					for (var j = 0; j < _validFileExtensions.length; j++) {
						var sCurExtension = _validFileExtensions[j];
						/* взять только расширение файла */
						/* с длины имени файла минус длина расширения взять строку длиной расширеия */
						if (sFileName.substr(sFileName.length - sCurExtension.length,sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
							blnValid = true;
							break;
						}
					}

					if (!blnValid) {
						alert("Invalid File Extension" + "\r\nAllowed extensions are : " +_validFileExtensions.join(", ").toUpperCase()+".");
						return false;
					}
				}
			}
		}

		return true;
	}
		
	/*]]>*/
</script>

<body>

	<div class="container-fluid padding-0">
		<div class="row padding-0">
			<div class="col-md-12">
				<h2>Пример загрузки файлов с помощью Spring Boot</h2>
			</div>
			<br/>
			<div class="col-md-12">Последовательность проведения опыта:</div>
			<ol>
				<li>Выбрать файл для загрузки через кнопку "Выбрать файл".</li>
				<li>Нажать кнопку "Были загружены файлы". В списке "История" появится имя загруженного фала.</li>
				<li>После этого можно посмотреть содержимое последнего загруженного файла через кнопку "3. Показать содержимое последнего загруженного файлa". </li>
			</ol>
		</div>
	</div>
	<nav role="navigation" id="trainingset-container-id"
		class="navbar navbar-default">
		<div class="row" style="margin-top: 1rem; margin-bottom: 1rem;">
			<div class="col-md-12">
				<form method="POST" action="/upload"
					onsubmit="return Validate(this);" enctype="multipart/form-data">
					<div class="col-md-2">
						<b>Загрузка файлов</b>
					</div>
					<label for="choose_file" class="col-md-2 btn btn-primary" style="height: 2.6em; margin-right: 1em;">1. Выбрать файл</label>
					<input id="choose_file" type="file" name="file"  style="display: none;"  accept=".csv" value="Выбрать файл:"/>
					&nbsp;
					<input type="submit" class="col-md-2 btn btn-primary"   style="height: 2.6em;" value="2. Загрузить"/>
				</form>
			</div>
		</div>
	</nav>
	<div id="messageboxid">
		<div id="uploadstatus" th:if="${message}">
			<B>Статус:</B>
			<h6 th:text="${message}" />
		</div>
	</div>
	<br/>
	<b>Были загружены файлы:</b><br/>
	<div th:each="currentFilename : ${listLoadedFiles}">
		<span th:text="${currentFilename}"></span>
	</div>
	<br/>
	<div id="download">
		<div class="col-md-12" style='padding-top: 1em; padding-left: 0'>
			<form method="GET" action="/getLastUploaded">
				<div class="col-sm-6">
					<input type="submit" class="btn btn-warning btn-sm" value="3. Показать содержимое последнего загруженного файлa" />
				</div>
			</form>
		</div>
		<br/>
		Содержимое последнего загруженного файла <span th:text="${fileName}"></span>:
		<br/>
		<div id="idContentLastLoadedFileContent" th:if="${contentLastSavedFile}" class="col-sm-12">
			<div th:text="${contentLastSavedFile}" />
		</div>
	</div>
	<div class="col-md-12" style='padding-top: 1em'>
		<form method="GET" action="/deleteAll">
			<input type="submit" class="btn btn-danger btn-sm" value="4. Удалить загруженное" />
		</form>
	</div>
</body>
</html>
